<meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no/>

<style type="text/css">
    body {
        background-color: rgb(10, 1, 61);
        padding: 0;
        margin: 0;
        font-family: Jeopardy;
    }

    @font-face {
        font-family: "Jeopardy";
        src: url('static/jeopardy.ttf') format('truetype');
        font-weight: 100;
    }
    @font-face {
        font-family: "Jeopardy";
        src: url('static/jeopardybold.ttf') format('truetype');
        font-weight: 200;
    }

    #header {
        height:max(20%, 80px);
        top: 0px;
        margin: 0;
        background-color: rgb(23, 25, 119);
        display: grid;
        place-items: center;
        color: #ffeeee;
        font-size: 60;
        font-weight: 200;
    }

    #content {
        height: 80%;
        display: grid;
        place-items: center;
    }

    button {
        color: #ffeeee;
        background-color: rgb(50,42,189);
        border: rgb(32,42,189);
        border-radius: 10px;
        font-family: "Jeopardy";
        font-weight: 100;
        font-size: 32;
    }

    input {
        font-family: "Jeopardy";
        font-weight: 100;
        font-size: 32;
        width: 90%;
        height: 60px;
        background-color: rgb(154, 150, 237);
        border: 2px solid black;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(50,42,189);
        opacity: 1; /* Firefox */
    }

</style>

<body>
    <div id="header"></div>
    <div id="content">
        <input type="number" inputmode="numeric" min="0" max="1000" placeholder="0–1000" id="bet-value" onchange = "checkValidity()" onkeypress = "this.onchange();" onpaste = "this.onchange();" oninput = "this.onchange();">
        <button id="submit-bet-button">Submit</button>
        <input type="text" id="answer-input" disabled>
        <button id="submit-answer-button" disabled>Submit</button>
    </div>
</body>

<script language = "javascript" type = "text/javascript">
    var loaded = false;
    var ajaxRequest;
    function ajaxFunction() {
        try {
            ajaxRequest = new XMLHttpRequest();
        } catch (e) { alert("error :(")}
    }
    function processRequest() {
        if (ajaxRequest.readyState === 4) {
            responseXML = ajaxRequest.responseXML;
            
            var playerList = responseXML.getElementsByTagName("Player");
            var scoresList = responseXML.getElementsByTagName("Score");
            var betsList = responseXML.getElementsByTagName("Bet");
            var guessList = responseXML.getElementsByTagName("Guess");

            let myScore = 0;
            for (let i = 0; i < playerList.length; i++) {
                // find player's score
                if (playerList[i].innerHTML === getCookie("name")) {
                    myScore = scoresList[i].innerHTML;
                    if (betsList[i].innerHTML !== "") {
                        betValueInput.disabled = true;
                        submitBetButton.disabled = true;
                        betValueInput.value = betsList[i].innerHTML;
                        answerInput.disabled = false;
                        submitAnswerButton.disabled = false;
                    }
                    if (guessList[i].innerHTML !== "") {
                        answerInput.disabled = true;
                        submitAnswerButton.disabled = true;
                        answerInput.value = guessList[i].innerHTML;
                    }
                    break;
                }
            }

            document.getElementById("header").innerHTML = getCookie("name") + ': ' + myScore;
            if (!loaded) {
                loaded = true;
                let betLimit = Math.max(+myScore, 1000);
                document.getElementById("bet-value").max = betLimit;
                document.getElementById("bet-value").placeholder = "0–" + betLimit;
            }
            
            setTimeout(function () { getMyScore(); }, 500);
        }
    }
    function getMyScore() {
        ajaxFunction();
        
        ajaxRequest.onreadystatechange = processRequest;
        
        ajaxRequest.open("GET", "state", true);
        ajaxRequest.send(null);
    }
    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return decodeURIComponent(c.substring(nameEQ.length,c.length));
        }
        return null;
    }
    function eraseCookie(name) {   
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    if (getCookie('name') === null) {
        window.location.href = '../';
    }
    getMyScore();

    betValueInput = document.getElementById("bet-value");
    answerInput = document.getElementById("answer-input");
    submitBetButton = document.getElementById("submit-bet-button");
    submitAnswerButton = document.getElementById("submit-answer-button");

    betValueInput.addEventListener('invalid', (event) => {
        betValueInput.value = Math.max(betValueInput.min, Math.min(betValueInput.max, betValueInput.value));
        alert("no");
    });

    submitBetButton.addEventListener('click', () => {
        if (betValueInput.value !== "") {
            betValueInput.disabled = true;
            submitBetButton.disabled = true;
            xhr = new XMLHttpRequest();
            xhr.open("POST", "finaljeopardy", true);
            let data = new FormData();
            data.append('bet', betValueInput.value);
            data.append('answer', '');
            xhr.send(data);
            answerInput.disabled = false;
            submitAnswerButton.disabled = false;
        }
    });

    submitAnswerButton.addEventListener('click', () => {
        if (answerInput.value !== "") {
            answerInput.disabled = true;
            submitAnswerButton.disabled = true;
            xhr = new XMLHttpRequest();
            xhr.open("POST", "finaljeopardy", true);
            let data = new FormData();
            data.append('bet', betValueInput.value);
            data.append('answer', answerInput.value);
            xhr.send(data);
        }
    });
</script>
